@font-face {
    font-family: 'Paris2024';
    src: url('font/Paris2024-Variable.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Paris2024', Arial, Helvetica, sans-serif;
}